<div class="app-header">
    <div class="app-menu">
        <div class="menu-links">
            <a routerLink="/app-home">HOME</a>
            <a routerLink="/app-booking-form">BOOK NOW</a>
            <a routerLink="/app-booking-list">MY BOOKING</a>
            <a href=""> CONTACT </a>
        </div>
        <div class="login-signup">
            <a href="">LOGIN / SIGN UP</a>
        </div>
    </div>

    <div class="app-container">
        <h1> Lena Beauty Spa</h1>
        <p> Always be confident with yourself </p>
    </div>
</div>
<router-outlet></router-outlet>
